<div class="bg-home-img bg-fixed bg-cover bg-center bg-no-repeat min-h-full md:h-screen flex justify-center">
  <div class="md:w-auto md:mx-auto m-24 md:m-56 opacity-96">
    <div
      class="md:container md:mx-auto bg-white shadow-md rounded mx-auto px-8 pt-6 pb-8 mb-4 md:px-12 md:pt-8 md:pb-12 md:pb-8 flex flex-col">
      <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
          Email
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email" type="text"
          placeholder="Email address">
      </div>
      <div class="mb-2">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3"
          id="password" type="password" placeholder="Password">
      </div>
      <div class="flex items-center justify-between">
        <button
          class="bg-gray-200 hover:bg-gray-100 hover:text-black text-black font-bold py-1 px-2 md:py-2 md:px-4 md:mr-8 rounded"
          id="login-button" type="button">
          Log In
        </button>
        <a class=" hover:text-purple-500 text-black font-bold py-1 px-2 md:py-2 md:px-4 md:mr-8 rounded"
          href="/request-new-password"> 
          Forgot Password?
        </a>
        </div>
        <div class="pt-5">

          <a class="inline-block w-80 text-center align-baseline bg-purple-500 hover:bg-purple-600 hover:text-white-900 text-white font-bold py-1 px-2 md:py-2 md:px-4  rounded"
           id="signup-btn" href="/signup/" >
            <span> Sign up </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<script src="./js/post-login.js"></script>
