<div class="bg-home-img bg-fixed bg-cover bg-center flex items-center min-h-screen">
  <div class="flex-1 h-full max-w-lg mx-auto opacity-95 bg-white rounded-lg shadow-xl">
    <div class="flex flex-col md:flex-row">
      <div class="md:flex-1 md:h-full md:max-w-lg md:mx-auto items-center justify-center p-4 sm:p-12 md:w-9/12">
        <div class="w-full">
          <h1 class="mb-4 text-2xl font-bold text-center text-gray-700">
            Create New Password
          </h1>
          <label class="block font-bold mt-4 text-sm">
            New Password
          </label>
          <input
            class="w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-purple-600"
            id="new-password" placeholder="Enter new password" type="password" />
          <label class="block font-bold mt-4 text-sm">
            Confirm New Password
          </label>
          <input
            class="w-full px-4 py-2 text-sm border rounded-md focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-purple-600"
            id="confirm-new-password" placeholder="Retype password" type="password" />
        </div>
        <button id="new-pass-form"
          class="block w-full px-4 py-2 mt-4 text-sm font-medium leading-5 text-center text-black transition-colors duration-150 bg-gray-200 border border-transparent rounded-lg hover:bg-purple-500 hover:text-white focus:outline-none focus:shadow-outline-blue">
          Reset
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<script src="Public/JS/put-new-password.js"></script>